body {
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
}

header, div#footer {
    padding: 12px;
    color: white;
    background-color: black;
}

section.content {
    margin: 6px;
    padding: 12px;
    background-color: lightgrey;
}

article {
    margin: 6px;
    padding: 12px;
    background-color: white;
}

/* Added menu to styling to get rid of default padding that changed layout from original*/
menu, menu ul {
    padding: 0;
}

menu ul li {
    display: inline;
    margin: 8px;
}